<template>
  <div class="ftbl-container ftbl-container--home">
      <div class="ftbl-header">
        <div class="ftbl-image ftbl-image__home">
          <img src="@/assets/images/logo/logo-white.png" alt="FTBL Logo"> <span>Football</span>
        </div>
      </div>
      <div class="ftbl-body">
        <h1 class="ftbl-hero-1">
          FOOTBALL AREA IS HERE
        </h1>
        <h5 class="ftbl-hero-5">You can search all football information through this site.</h5>
        <h5 class="ftbl-hero-5">Just click on the button below and you can get thousand of data that you want.</h5>
        <h5 class="ftbl-hero-5">And It's all about Football!</h5>
        <router-link to="/team" class="ftbl-btn ftbl-btn__block">GET STARTED</router-link>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    // HelloWorld
  }
}
</script>

<style lang="scss">
.ftbl {
  &-container {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    display: block;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    &--home {
      height: 100vh;
      background: #39003C;
    }
  }
  &-wrapper {
    width: 1110px;
    margin: 0 auto;
    display: block;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
  &-header {
    display: block;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    padding: 10px 0;
  }
  &-image{
    display: block;
        width: 110px;
    margin: 0 auto;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    &__home {
      img {
        width: 30px;
        display: block;
        float: left;
      }
      span {
        display: block;
        float: left;
        margin-left: 10px;
        font-weight: 600;
        margin-top: 2px;
      }
    }
  }
  &-body {
    display: block;
    text-align: center;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
  &-hero-1 {
    margin: 100px 0 30px 0;
    padding: 0;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 700;
  }
  &-hero-5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  &-btn {
    margin-top: 20px;
    display: inline-block;
    &__block {
      text-decoration: none;
      background: #0FFF87;
      border-radius: 4px;
      padding: 10px 30px;
      color: #39003C;
      font-weight: 800;
      font-size: 30px;
    }
  }
}
</style>