<template>
    <div class="ftbl-container">
        <div class="ftbl-header">
            <div class="ftbl-image ftbl-image__home">
                <img src="@/assets/images/logo/logo-white.png" alt="FTBL Logo"> <span>Football</span>
            </div>
        </div>
        <div class="ftbl-labels">
            Please select Area
        </div>
        <select @change="filterOnSelect($event.target.value)" class="ftbl-select">
            <option v-for='area in areas' :key='area.id' :value="area.id">{{area.name}}</option>
        </select>
        <div class="ftbl-list-container">
            <div class="ftbl-list-box ftbl-list-box__header">
                <div class="ftbl-list-box__club ftbl-list-box__club--header">Club</div>
                <div class="ftbl-list-box__short ftbl-list-box__short--header">Short Name</div>
                <div class="ftbl-list-box__country ftbl-list-box__country--header">Country</div>
            </div>
            <div class="ftbl-list-box ftbl-list-box__body" v-if="teams === [] || teams === 'undefined' || teams === null || teams === {}">
                No Data
            </div>
            <div class="ftbl-list-box ftbl-list-box__body" v-else v-for="team in teams" :key='team.id'>
                <div class="ftbl-list-box__club">
                    <img :src="team.crestUrl" :alt="team.name"> <span>{{team.name}}</span>
                </div>
                <div class="ftbl-list-box__short">{{team.tla}}</div>
                <div class="ftbl-list-box__country">{{team.area.name}}</div>
            </div>
        </div>
        <div class="ftbl-list-container ftbl-list-container__body">
            <!-- <table class="table">
                <thead>
                    <tr>
                        <td>Team Name</td>
                        <td>Short Name</td>
                        <td>Country</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="teams === [] || teams === 'undefined' || teams === null || teams === {}">
                        <td colspan="4">No Data</td>
                    </tr>
                    <tr v-else v-for="team in teams" :key='team.id'>
                        <td>{{team.name}}</td>
                        <td>{{team.tla}}</td>
                        <td>{{team.area.name}}</td>
                        <td>
                            <router-link :to="`/team/${team.id}`" class="button">View Team</router-link>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
            }
        },
        computed: {
            areas() {
                return this.$store.state.team.areas
            },
            teams() {
                return this.$store.state.team.teams
            }
        },
        mounted() {
            this.$store.dispatch('team/getAreas', null, {root:true})
        },
        methods: {
            filterOnSelect(id) {
                this.$store.dispatch('team/getTeams', id, {root:true})
            }
        },
    }
</script>

<style lang="scss" scoped>
.table {
    margin: 20px auto;
    thead {
        font-weight: bold;
        td {
            padding: 5px 15px;
            border: solid 1px #DDDDDD
        }
    }
    tbody {
        td {
            border: solid 1px #DDDDDD
        }
    }
}
.button {
    display: block;
    background: green;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    margin: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background: darkolivegreen
    }
}

.ftbl {
  &-container {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    display: block;
    min-height: 100vh;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    &--home {
      height: 100vh;
      background: #39003C;
    }
  }
  &-header {
    display: block;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    padding: 10px 0;
    background: #39003C;
  }
  &-select {
      border: solid 1px #efefef;
      border-radius: 2px;
      padding: 10px;
  }
  &-image{
    display: block;
        width: 110px;
    margin: 0 auto;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    &__home {
      img {
        width: 30px;
        display: block;
        float: left;
      }
      span {
        display: block;
        float: left;
        margin-left: 10px;
        font-weight: 600;
        margin-top: 2px;
      }
    }
  }
  &-body {
    display: block;
    text-align: center;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
  &-hero-1 {
    margin: 100px 0 30px 0;
    padding: 0;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 700;
  }
  &-hero-5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  &-btn {
    margin-top: 20px;
    display: inline-block;
    &__block {
      text-decoration: none;
      background: #0FFF87;
      border-radius: 4px;
      padding: 10px 30px;
      color: #39003C;
      font-weight: 800;
      font-size: 30px;
    }
  }
  &-labels {
      color: #963CFF;
      font-style: italic;
      font-size: 14px;
      margin-top: 20px;
  }
  &-list {
      &-container {
          margin-top: 30px;
          display: block;
          &::after {
            content: '';
            clear: both;
            display: block;
          }
      }
      &-box {
          display: block;
          &::after {
            content: '';
            clear: both;
            display: block;
          }
          &__header {
              background: #EEEEEE;
              color: #6c6c6c;
              font-size: 12px;
              font-weight: 700;
          }
          &__body {
              background: #FFF;
              color: #333;
              font-size: 14px;
              font-weight: normal;
              border-bottom: solid 1px #efefef;
          }
          &__club {
              float: left;
              width: calc(60% - 20px);
              text-align: left;
              padding: 5px 10px;
              img {
                  height: 22px;
              }
              span {
                  display: inline-block;
              }
          }
          &__short {
              float: left;
              width: calc(20% - 20px);
              text-align: left;
              padding: 5px 10px;
          }
          &__country {
              float: left;
              width: calc(20% - 20px);
              text-align: left;
              padding: 5px 10px;
          }

      }
  }
}
</style>