<template>
    <div>
        <h1>Team Details</h1>
        <div class="container">
            <div class="container-row">
                <img :src="selectedTeam.data.crestUrl" :alt="selectedTeam.data.name" width="100">
            </div>
            <div class="container-row">
                <div class="container-label">Name : </div>
                <div class="container-text">{{selectedTeam.data.name}}</div>
            </div>
            <div class="container-row">
                <div class="container-label">Country : </div>
                <div class="container-text">{{selectedTeam.data.area.name}}</div>
            </div>
            <div class="container-row">
                <div class="container-label">Founded : </div>
                <div class="container-text">{{selectedTeam.data.founded}}</div>
            </div>
            <div class="container-row">
                <div class="container-label">Stadium : </div>
                <div class="container-text">{{selectedTeam.data.venue}}</div>
            </div>
            <div class="container-row">
                <div class="container-label">Website : </div>
                <div class="container-text">{{selectedTeam.data.website}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TeamDetails",
        data() {
            return {
                team: null,
            }
        },
        computed: {
            selectedTeam() {
                return this.$store.state.team.selectedTeam
            }
        },
        async created() {
            this.$store.dispatch('team/getSelectedTeam', this.$route.params.id, {root: true})
        },
    }
</script>

<style lang="scss" scoped>
.container {
    margin-top: 30px;
    &-row {
        display: block;
        margin: 20px 0px 0px 0px;
    }
    &-label {
        font-weight: bold;
        font-size: 12px;
    }
    &-text {
        font-size: 12px;
    }
}
</style>